[Desktop Entry]
Version=1.0
Name=VeiWatch
Comment=veiWatch OpenSource
#Lembrar de Alterar o Diretório
Exec=bash -c '~/./teste $SHELL'
Terminal=false
Type=Application
Categories=Application;
#Lembrar de Alterar o Diretório
Icon=/home/calebe94/Heart-Rate.png
#Lembrar de dar permissão "sudo chmod +x MIDI.desktop"

