[Desktop Entry]
Encoding=UTF-8
Name=Link para Tiva C Launchpad & CCS v6 Project using CMSIS Library - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ZO2VROHaAxo
Icon=text-html
